@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,300;1,400;1,500&display=swap');

body {
    background: silver;
    font-family: 'Roboto', sans-serif;
    width: 100%; 
    height: 100vh; 
    text-align: center; 

    .main {
        .canvas{
            border: 1px solid silver; 
            margin: auto; 
            background-color: white;
        }
    }
}